# Dependencies
node_modules/
vendor/

# Next.js
.next/
out/

# Env
.env
.env.local
.env.*.local

# Logs
*.log
npm-debug.log*

# Docker volumes
docker-data/

# OS
.DS_Store
Thumbs.db

# IDE
.idea/
.vscode/
*.swp

# Laravel
bootstrap/cache/*.php
storage/framework/cache/data/
storage/framework/sessions/
storage/framework/views/
storage/logs/
