
events { worker_connections 1024;}

http {
      server {
            listen 8000;
            location / {
                  proxy_pass http://auth-api:80;
                  proxy_set_header Host $host;
                  proxy_set_header X-Real_IP $remote_addr;

            }
      }

      # server {
      #       listen 8001;
      #       location / {
      #          proxy_pass http://user-api:80;
      #          proxy_set_header Host $host;
      #          proxy_set_header X-Real_IP $remote_addr;
      #       }
      # }
}